In [5]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 3.8 MB/s eta 0:00:0000:01
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
from time import sleep

In [3]:
print(f"numpy=={np.__version__}")
print(f"requests=={requests.__version__}")
print(f"bs4=={bs4.__version__}")

numpy==2.0.1
requests==2.32.3
bs4==4.12.3

In [6]:
url = 'https://dataestur.azure-api.net/API-SEGITTUR-v1/ACTIVIDADES_OCIO_DL?CCAA=Todos&Provincia=Todos'
headers = {"content-type" : "application/json"}
response = requests.get(url = url, headers =  headers)
df_ocio = pd.read_excel(url)

In [7]:
df_ocio.head()

,AÑO,MES,CCAA,PROVINCIA,ENTRADAS,VISITAS_PAGINAS,GASTO_TOTAL,PRECIO_MEDIO_ENTRADA,TRANSACCIONES
0,2018,1,Andalucía,Almería,3,8,122.6043,40.8681,1
1,2018,1,Andalucía,Cádiz,11,236,994.5656,89.7555,6
2,2018,1,Andalucía,Córdoba,104,712,7287.4474,68.7236,54
3,2018,1,Andalucía,Granada,200,2442,9883.8532,66.6831,95
4,2018,1,Andalucía,Huelva,10,138,1089.6814,95.3422,10

In [8]:
df_ocio.tail()

,AÑO,MES,CCAA,PROVINCIA,ENTRADAS,VISITAS_PAGINAS,GASTO_TOTAL,PRECIO_MEDIO_ENTRADA,TRANSACCIONES
2931,2024,5,País Vasco,Araba/Álava,1136,2045,7480.51,5.0157,541
2932,2024,5,País Vasco,Bizkaia,8567,15420,148584.68,16.2978,5302
2933,2024,5,País Vasco,Gipuzkoa,2886,5195,39287.90,12.1969,1544
2934,2024,5,Principado de Asturias,Asturias,13795,24826,26093.02,12.6123,2950
2935,2024,5,Región de Murcia,Murcia,2617,4708,45762.66,36.1800,1116

In [9]:
df_ocio.to_csv("ocio_españa.csv")